{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haru Algorithm</title>
    <link rel="stylesheet" href="{% static 'correct.css' %}">
    <link rel="stylesheet" href="{% static 'TopNav.css' %}">

</head>
<body>


    <div>
        {% include "./component/TopNav.html" %}
            <div class="content">
            <div class="main">
                <div class="correct_title">
                    <img class="check_img" src="{% static 'check.png' %}">
                    정답입니다
                </div>
            <div class="correct_main">
                <div class="correct_check">
                    코드 공개여부
                    <select select id="test" onchange="Change()">
                        <option value="1">코드공개</option>
                        <option value="2">코드비공개</option>
                    </select>   
                </div>

                <form action="{% url 'postUpdate' %}" method="post">
                    {% csrf_token %}

                <div id="d1" style="display:block">
                    <div   class="post_title">
                        제목
                        <input name="title" class="title_input" type="text"/>
                    </div>
                    <div class="post_content">
                        본문
                        <textarea name="body" class="content_input" type="text"></textarea>
                    </div>
                    <button class="post_button" type="submit">업로드하기</button>
                </div>
            </form>

                <div id="d2" style="display:none">
                    <div class="d2_post_title">
                        제목
                        <div class="d2_title_input" ></div>
                    </div>
                    <div class="post_content">
                        본문
                        <div class="d2_content_input" type="text"></div>
                    </div>
                    <a href="{% url 'posts' %}" class="d2_post_button" >게시판으로 이동하기</a>
                </div>

            </div>

            </div>
        </div>
        <!-- {% block content %}
        {% endblock %} -->
    </div>

    <script type="text/javascript">
    
        // option선택시 내용 바꿔줌
            function Change(){
            var key = test.value;
            if(key==1){
            document.all["d1"].style.display="block";
            document.all["d2"].style.display="none";
            }
            if(key==2){
            document.all["d1"].style.display="none";
            document.all["d2"].style.display="block";
            }
    
        }
        </script>

</body>
</html>