.TopNav{
    background-color: white;
    width:100%;
    height: 96px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo{
    margin:0;
    display:flex;
    align-items: center;
}

.logo_img{
    margin-left:30px;
    width: 273px;
    height: 55px;
}
#about_link{
    display:flex;
    align-items: center;
    background-color: #c7c9d59f;
    border-radius: 60px;
    color:white;
    text-decoration: 0;
    float:right;
    height:55px;
    padding: 15px;
    box-sizing: border-box;
    margin-right: 30px;
    font-size:30px;
    font-family: 'Gilbert', sans-serif;
}

#about_link:hover{
    background-color: #415CF2;
    color:white;
    /* transition: 1s; */
    transform: scale(1.1);
    /* height:60px;
    width: 140px; */
}
