@import url('http://fonts.cdnfonts.com/css/gilbert');
@font-face {
    font-family: 'SCoreDream';
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}

::-webkit-scrollbar {
    display: none;
  }
  

body{
    margin:0;
    background:rgba(128, 128, 128, 0.115);

}
.MiddleNav{
    z-index: 10;
    position:absolute;
    top:96px;
    position: fixed;
    width:100%;
    height:79px;
    background-color: #415CF2;
    font-weight: 600; 
    font-family: 'SCoreDream';
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style:none;
    
}
.MiddleNav > .hi{
    display:flex;
    width:80%;
}
.MiddleNav > .hi>li>a{
    text-decoration: none;
    background-color: none;
    height: 100%;
    text-decoration: none;
    color:rgba(225, 225, 238, 0.406);
    padding-right:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MiddleNav > .hi>li>a:hover{
    color:rgba(255, 255, 255, 0.649);
}

#menu-link1{
    color:white;
}
.active {
    color:white;
}


.content{
    padding-top:175px;
    width:100%;
    height:100vh;
    box-sizing: border-box;

} 
.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button {

    width: 60px; height: 60px;
    cursor: pointer;
    margin-right: 10%;

}
.search-box{
    width:100%;
    height: 80px;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.search-box >form{
    width: 80%;
    display: flex;
    justify-content: center;
}

.search-box > .form{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.search-text{
    padding-top:0;
    padding-bottom:0;
    padding-right:0;
    height: 60px;
    width: 50%;
    border-radius: 50px;
    padding-left: 20px;
    font-family: 'SCoreDream';
    font-weight: 600;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
}
.close_btn{
    width: 50px;
    height: 60px;
    font-weight: 600;
    font-family: 'SCoreDream';
    font-size: 19px;
    text-decoration: none;
    margin-left: -99px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 49px;
}

input[type=text]::-ms-clear{
	display: none;
}
.search-btn{
    cursor: pointer;
    height: 62px;
    width: 60px;
    border-radius: 0 50px 50px 0;
    margin-left: -60px;
    border: none;
    padding: 15px;
    background-color: #415cf257;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#sort{
    float:right;
    margin-top: 20px;
    height: 60px;
    width: 10%;
    border-radius: 50px;
    padding-left: 20px;
    font-family: 'SCoreDream';
    font-weight: 600;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;

}
.search-img{
    width:100%;
    height:100%;
}

.post{
    height: 45vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    margin-top: 88px;
    flex-direction: column;
    align-items: center;
}
.post_name{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.post_name>li{
    width: 50%;
    justify-content: center;
    display:flex;
    font-weight: 600; 
    font-family: 'SCoreDream';
    list-style:none;
}
.post_wrap{
    display: flex;
    /* height: 45vh; */
    width: 100%;
    align-items: center;
    flex-direction: column;
}
#box_href{
    color:black;
    font-weight: 600; 
    font-family: 'SCoreDream';
    text-decoration: none;
    display: flex;
    justify-content: center;
    display:flex;
    align-items: center;
    width: 80%;
    height: 75px;
    background-color: white;
    margin-top:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#box_href > .post_box{ 
    width:100%;
    display: flex;
    justify-content: space-between;
}

.post_box >li{
    width: 50%;
    display:flex;
    justify-content: center;
    list-style:none;
}

/* .post_box{
    display:flex;
    align-items: center;
    width: 70%;
    height: 75px;
    background-color: white;
    margin-top:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} */

#box_href:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #818080d8;
    background-color: white;
    width: 79%;
    /* transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color); */
}

.page{
    width:80%;
    display:flex;
    justify-content: center;   
    align-items: center; 
    font-weight: 600; 
    font-family: 'SCoreDream';
    text-decoration: none;
    font-size: 15px;
}

.previous{
    width:80px;
    display:flex;
    justify-content: center;   
    align-items: center; 
    font-family: 'SCoreDream';
    text-decoration: none;
    font-size: 15px;


}

.previous>a{
    margin-right:10px;
    display:flex;
    justify-content: center;   
    align-items: center; 
    color:black;
    width:30px;
    height:30px;
    background-color: #415cf234;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.now_page{
    font-family: 'SCoreDream';
    text-decoration: none;
    font-size: 15px;
    display:flex;
    justify-content: center;   
    align-items: center; 
    margin-right:10px;
    width:30px;
    height:30px;
    background-color: rgba(0, 0, 0, 0.101);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

  
.previous>a:hover{
    /* transition: all 0.5s ease-out; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #415cf297;
    color:white;
}    
    
.next_page>a:hover{
    /* transition: all 0.5s ease-out; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #415cf297;
    color:white;
}
a{
    text-decoration: none;
    color:black;
    
}
.next_page{
    display:flex;
    justify-content: center;   
    align-items: center; 
    width:80px;
    font-family: 'SCoreDream';
    text-decoration: none;
    font-size: 15px;

}
.next_page >a{
    margin-right:10px;
    display:flex;
    justify-content: center;   
    align-items: center; 
    color:black;
    width:30px;
    height:30px;
    background-color: #415cf234;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#level{
    background: transparent;
    outline:none;
    border:none; 
    font-weight: 600; 
    font-family: 'SCoreDream';
    font-size: 20px;
}

.no_search{
    font-weight: 600; 
    font-family: 'SCoreDream';
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 34vh;
    width: 100%;
    justify-content: center;
}

.no_search > a{
    color:red;
}