<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haru Algorithm</title>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>
<body>
    <div>
        <div class="TopNav">
            <div class="logo">haru algorithm</div>
            <div class="about_us">About us</div>
        </div>
        <!-- <div class="MiddleNav">
            <a href="#"><input type="radio" name="tabs" id="tab1" checked>
            <label for="tab1">문제</label></a>
            <a href="#"><input type="radio" name="tabs" id="tab2">
            <label for="tab2">입력 및 출력</label></a>
            <a href="#"><input type="radio" name="tabs" id="tab4">
            <label for="tab4">예제출력</label></a>
            <a href="#"><input type="radio" name="tabs" id="tab5">
            <label for="tab5">제출</label></a>
        </div> -->
        <div class="content">
        <div class="main_box">
            <div class="main">
                
                <div class="name">문제</div>
                
                <div class="problem">
                    <div class="text-area">
               
                    </div>
                </div>
            
            </div>

            <div class="input_main">
                <div class="ex_inputbox">
                    <div class="input_name">
                        예시입력
                    </div>
                <div class="ex_input">
            
                </div>
                </div>
                    
            
                <div class="ex_outputbox">
                    <div class="output_name">
                        예시출력
                    </div>
                    <div class="ex_output">
                        
                    </div>
            
                </div>
            </div>
            


            <div class="submit_main">
                <div class="language_box">
                    <a>언어</a>
                    <div class="language_dropbox">
                        <select name="language" id="dropbox">
                            <option value="python">Python</option>
                          </select>                          
                    </div>
                </div>
                <a>소스코드</a>
                <div class="submit_box">

                </div>

                <div>
                    <button class="submitbutton" type="button">제출하기</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>