
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{% url 'posts' %}" method="get">
        {% csrf_token %}
        <input type="search" placeholder="Search" name="qTitle" value="{{qTitle}}">
        <button type="submit">Search</button>
    </form>

    <div class="container">
        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                {{post.question}}<br>
                <!-- {{post.category}}<br> -->
                {{post.pub_date | date:'Y-m-d'}}<br>
                {{post.title}}<br>
                {{post.body}}<br>
                {{post.level}}
                <a href="{% url 'detail' post.id %}">...more</a><br>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if posts.has_previous %}
    <!-- <a id ="start" href="?page=1"><<</a> -->
    <a id ="pre" href="?page={{posts.previous_page_number}}"><</a>
    {% endif %}
     

    <span class="now_page">{{posts.number}}</span>

    <!-- <span>of</span> -->
    <!-- <span>{{posts.paginator.num_pages}}</span> -->

    {% if posts.has_next %}
    <a id ="next" href="?page={{posts.next_page_number}}">></a>
    <!-- <a id ="last" href="?page={{posts.paginator.num_pages}}">>></a> -->
    {% endif %}
</body>

</html>
