<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    실패 횟수: {{ fail }}
    
    {% for i, status, output, error in display_data %}
    {% if status == True %}
    <div>
        <div>
            <h3>Testcase {{ i }} success</h3>
        </div>
        {% else %}
        <div>
            <div>
                <h3>Testcase {{ i }} fail</h3>
            </div>
            {% endif %}

            <div>
                <h2>Output:</h2>
                <p>
                <pre>{{ output | safe }}</pre>
                <h2>Errors:</h2>
                <p>
                <pre>{{ error | safe }}</pre>
            </div>
        </div>
        {% endfor %}

        <form action="compiler?level={{level}}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.language.label }}</td>
                    <td>{{ form.language }}</td>
                    <td>{{ form.language.errors }}</td>
                </tr>
                <tr>
                    <td>{{ form.code.label }}</td>
                    <td>
                        <div>{{ form.code }}</div>
                    </td>
                </tr>
                <tr>
                    <td>{{ form.code.errors }}</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Submit Code">
                        <input type="reset" value="Clear All">
                    </td>
                </tr>
            </table>
        </form>
</body>

</html>