<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>자신이 제출한 코드(정답)</h1>
    
    {% for post in post_list %}
        <div>
            <span><a href="{% url 'detail' post.id %}">{{ post.title }}</a></span>
            <span>문제 번호 : {{ post.question }}</span>
        </div>
        <br>
    {% endfor %}
</body>
</html>