{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'incorrectCode.css' %}">
    <link rel="stylesheet" href="{% static 'TopNav.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="top_middle">
    {% include "./component/TopNav.html" %}
    <div class="MiddleNav">
        <div class="hi">
            <li><a href="{% url 'member:mypage' %}"><i class="fa-solid fa-chevron-left"></i></a></li>
            <li ><a id="menu-link1" onclick="click()" href="{% url 'member:submitCodeCorrect' %}">제출한 게시글</a></li>
            <li><a id="menu-link2" href="{% url 'member:submitCodeIncorrect' %}">오답노트</a></li>
            <li><a id="menu-link3" href="{% url 'member:likePost' %}">좋아요한 게시글</a></li>
            <li class="last"><a href="{% url 'posts' %}"><i class="fa-regular fa-magnifying-glass"></i></a></li>
            </div>
    </div>
    </div>
    <div class="mypage_main">


        <div class="correct_code_wrap">
            <div class="title_wrap">
            <a class="correct_code_title" >오답노트</a>
            </div>
            <!-- <div class="line"></div> -->
            <div class="post_wrap">
            {% for usercheck in incorrect_list %}
            <div class="correct_code_box">
            <a class="post_title">{{ usercheck.problem }}</a>
            <!-- <div class="line"></div> -->
            <a class="arrow_wrap" href="{% url 'member:retryCode' usercheck.problem.id %}">
                <div class="cercle">→ </div>
            </a>
            <div class="post_category">#{{usercheck.problem.problem_category}}</div>
            </div>

            <!-- <span>{{ post.question }}</span> -->          
            </a>
            {% endfor %}
            </div>
            
        </div>



    </div>


</body>
</html>
