{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'mypage.css' %}">
    <link rel="stylesheet" href="{% static 'TopNav.css' %}">

</head>
<body>
    <div class="top_middle">
    {% include "./component/TopNav.html" %}
    </div>
    <div class="mypage_main">
        <div class="information">
            <div class="information_wrap">
                <div class="my_username">{{ data.username }}</div>
                <div class="my_email">{{ data.email }}</div>
            </div>
        </div>

        <div class="correct_code_wrap">
            <div class="title_wrap">
            <a class="correct_code_title" >제출한 게시글</a>
            <a class="more" href="{% url 'member:submitCodeCorrect' %}"><div>더보기</div></a>
            </div>
            <!-- <div class="line"></div> -->
            <div class="post_wrap">
            {% for post in post_list %}
            <div class="correct_code_box">
            <a class="post_title">{{ post.title }}</a>
            <!-- <div class="line"></div> -->
            <a class="arrow_wrap"href="{% url 'detail' post.id %}">
                <div class="cercle">→ </div>
            </a>
            <div class="post_category">#{{post.problem.problem_category}}</div>
            </div>

            <!-- <span>{{ post.question }}</span> -->          
            </a>
            {% endfor %}
            </div>
            
        </div>

        <div class="correct_code_wrap">
            <div class="title_wrap">
            <a class="correct_code_title" >오답노트</a>
            <a class="more" href="{% url 'member:submitCodeIncorrect' %}"><div>더보기</div></a>
            </div>
            <!-- <div class="line"></div> -->
            <div class="post_wrap">
            {% for usercheck in incorrect_list %}
            <div class="correct_code_box">
            <a class="post_title">{{ usercheck.problem }}</a>
            <!-- <div class="line"></div> -->
            <a class="arrow_wrap" href="{% url 'member:retryCode' usercheck.problem.id %}">
                <div class="cercle">→ </div>
            </a>
            <div class="post_category">#{{usercheck.problem.problem_category}}</div>
            </div>

            <!-- <span>{{ post.question }}</span> -->          
            </a>
            {% endfor %}
            </div>
            
        </div>

        <div class="correct_code_wrap">
            <div class="title_wrap">
            <a class="correct_code_title" >좋아요한 게시글</a>
            <a class="more" href="{% url 'member:likePost' %}"><div>더보기</div></a>
            </div>
            <!-- <div class="line"></div> -->
            <div class="post_wrap">
            {% for post in post_list %}
            <div class="correct_code_box">
            <a class="post_title">{{ post.title }}</a>
            <!-- <div class="line"></div> -->
            <a class="arrow_wrap"href="{% url 'detail' post.id %}">
                <div class="cercle">→ </div>
            </a>
            <div class="post_category">#{{post.problem.problem_category}}</div>
            </div>

            <!-- <span>{{ post.question }}</span> -->          
            </a>
            {% endfor %}
            </div>
            
        </div>


    </div>


</body>
</html>
