@import url('http://fonts.cdnfonts.com/css/gilbert');
@font-face {
    font-family: 'SCoreDream';
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream6.woff) format('woff');
    font-display: swap;
}

::-webkit-scrollbar {
    display: none;
  }
  
html,body{
    height:100vh;
}
body{
    margin:0;
    overflow:hidden;

}
.content{
    position:absolute;
    top:175px;
    background:rgba(128, 128, 128, 0.115);
    height: 100vh;
    width:100%;
}

.search-box{
    padding-top: 50px;
    width:100%;
    height: 80px;
}
.search-box >form{
    display: flex;
    justify-content: center;
}
.date_box{
    height: 60px;
    width: 50%;
    border-radius: 50px;
    padding-left: 20px;
    font-family: 'SCoreDream';
    font-weight: 600;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    outline: none;
}

/* .search-btn{
    height: 62px;
    width: 60px;
    border-radius: 0 50px 50px 0;
    margin-left: -60px;
    border: none;
    padding: 15px;
    background-color: #415cf257;
} */




input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}


/* input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
} */

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0); 
    opacity: 1;
    display: block;
    width: 30px;
    height: 30px;
    border-width: thin;
    margin-right: 20px;
 }

.search-img{
    width:100%;
    height:100%;
}

.post{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;

}
.post_name{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.post_name>li{
    font-weight: 600; 
    font-family: 'SCoreDream';
    list-style:none;
}

#box_href{
    display:flex;
    align-items: center;
    width: 70%;
    height: 75px;
    background-color: white;
    margin-top:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
/* .post_box{
    display:flex;
    align-items: center;
    width: 70%;
    height: 75px;
    background-color: white;
    margin-top:15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} */

#box_href:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #818080d8;
    background-color: white;
    width: 71%;
    /* transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color); */
}