{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haru Algorithm</title>
    <link rel="stylesheet" href="{% static 'search_date.css' %}">
    <link rel="stylesheet" href="{% static 'TopNav.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'MiddelNav.css' %}"> -->
     <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">

</head>
<body>
    <script>

        //오늘 날짜 가져오기
            function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if(dd<10) {
                dd = '0'+dd
            } 

            if(mm<10) {
                mm = '0'+mm
            } 

            today = yyyy + '-' + mm + '-' + dd;
            console.log(today);
            document.getElementById("date_box1").value = today;
            }


            window.onload = function() {
            getDate();
            };
    </script>
    <div>
        {% include "./component/TopNav.html" %}
        <div class="MiddleNav">
            <li ><a id="menu-link1" onclick="click()" href="{% url 'posts' %}">제목</a></li>
            <li><a id="menu-link2" href="{% url 'postDate' %}">날짜</a></li>
        </div>
        <div class="content">
            <div class="main">
               <div class="search-box">
                    <form action="{% url 'postDate' %}" method="get">
                        {% csrf_token %}
                        <input type="date" onlode="getDate()" class="date_box" id="date_box1"  name="qDate" value="{{qDate}}">
                        <button type="submit" class="search-btn"><img class="search-img" src="{% static 'search.png '%}"></button>
                        <!-- <button type="button" class="search-btn" type="sumit"><img class="search-img" src="./search.png"></button> -->
                    </form>
               </div>

               <div class="post">
                <div class="post_name">
                    <li>제목</li>
                    <li>날짜</li>
                </div>
                <div class="post_wrap">

                {% for post in posts %}
                <a id="box_href" href="{% url 'detail' post.id %}">
                    <div class="post_box">
                        <li>{{post.title}}</li>
                        <li>{{post.pub_date | date:'Y-m-d'}}</li>
                    </div>
                </a>
                {% endfor %}
            </div>

               </div>

               <div class="page">
               {% if posts.has_previous %}
               <a href="?page=1">First</a>
               <a href="?page={{posts.previous_page_number}}">Previous</a>
               {% endif %}
           
               <span>{{posts.number}}</span>
               <span>of</span>
               <span>{{posts.paginator.num_pages}}</span>
           
               {% if posts.has_next %}
               <a href="?page={{posts.next_page_number}}">Next</a>
               <a href="?page={{posts.paginator.num_pages}}">Last</a>
               {% endif %}

               </div>
            </div>
        </div>

    </div>
</body>

</html>