{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haru Algorithm</title>
    <link rel="stylesheet" href="{% static 'search_level.css' %}">
    <link rel="stylesheet" href="{% static 'TopNav.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'MiddelNav.css' %}"> -->
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function() {
            $( "select[name=sort]" ).val( "{{ sort }}" );
            $('select[name=sort]').change(function () {
            console.log($('select[name=sort]').val());
            sort = $('select[name=sort]').val();
            $('.form').submit();
        });
    });
// const $form = $('#form');
// const $select = $('#select');

// $select.change(e => {
//   if ($select.val() === '') return;
  
//   $.ajax({
//     url: $form.attr('action'),
//     method: $form.attr('method'),
//     data: {
//       [$select.attr('name')]: $select.val()
//     }
//   });
// });

    function Change(){
            var likes = document.getElementById(likes);
            var sort = document.getElementById(sort);
            if(sort=="recently"){
                document.getElementById("recently").selected = true;
            }
            if(sort=="likes"){
                document.getElementById("likes").selected = true;
            }
            if(sort=="hits"){
                document.getElementById("hits").selected = true;
            }
    
        }
    </script>
    <div>
        {% include "./component/TopNav.html" %}

        <div class="MiddleNav">
            <div class="hi">
            <li ><a id="menu-link1" onclick="click()" href="{% url 'posts' %}">제목</a></li>
            <li><a id="menu-link2" href="{% url 'postDate' %}">날짜</a></li>
            <li><a id="menu-link3" href="{% url 'postLevel' %}">레벨</a></li>
        </div>
        </div>
        <div class="content">
            <div class="main">
               <div class="search-box">
                <form action="{% url 'postLevel' %}" method="get">
                    {% csrf_token %}
                        <select class="search-text" name="qLevel" style="color: #ad5600;" name="level" id="level" onchange="Change()">
                            <option style="color: #ad5600;" value="bronze">Bronze</option>
                            <option style="color: #38546e;" value="silver">Silver</option>
                            <option style="color: #f9a518" value="gold">Gold</option>
                            <option style="color: #51fdbd;" value="platinum">Platinum</option>
                            <option style="color: #41caff;" id="diamond" value="diamond" >Diamond</option>
                            <option style="color: #ff3071;" value="ruby">Ruby</option>
                        </select>
                        <a class = "close_btn" href="{% url 'postLevel'%}">x</a>
                    <div class="button_wrap">
                    <button type="submit" class="search-btn"><img class="search-img" src="{% static 'search.png '%}"></button>
                    </div>  
                </form>
                <form id="form" class="form" action="{% url 'posts' %}" method="get">
                    <select id="sort" name="sort" onChange="Change()" id="sort">
                        <option value="recently" id="recently">최신순</option>
                        <option id="likes" value="likes" id="likes">좋아요순</option>
                        <option value="hits" id="hits">조회수순</option>
                    </select>
                </form>
               </div>

               <div class="post">
                <div class="post_name">
                    <li>제목</li>
                    <li>카테고리</li>
                    <li>레벨</li>
                    <li>날짜</li>
                </div>

                <div class="post_wrap">
                {% if posts %}
                {% for post in posts %}
                <a id="box_href" href="{% url 'detail' post.id %}">
                    <div class="post_box">
                        <li>{{post.title}}</li>
                        <li>{{post.problem.problem_level}}</li>                        
                        <li>#{{post.problem.problem_category}}</li>
                        <li>{{post.pub_date | date:'Y-m-d'}}</li>

                    </div>
                </a>
                {% endfor %}
                    {% else %}
                        {% if qLevel %}
                        <div class="no_search"><a>'{{qLevel}}'</a> 에 대한 검색결과가 없습니다.</div>
                        {% endif %}
                {% endif %}
                </div>
               </div>
               <div class="page">
               {% if posts.has_previous %}
               <!-- <a id ="start" href="?page=1"><<</a> -->
               <a id ="pre" href="?page={{posts.previous_page_number}}"><</a>
               {% endif %}
                

               <span class="now_page">{{posts.number}}</span>

               <!-- <span>of</span> -->
               <!-- <span>{{posts.paginator.num_pages}}</span> -->
           
               {% if posts.has_next %}
               <a id ="next" href="?page={{posts.next_page_number}}">></a>
               <!-- <a id ="last" href="?page={{posts.paginator.num_pages}}">>></a> -->
               {% endif %}

                </div>
            </div>
        </div>

    </div>
        <script type="text/javascript">
    
        // option선택시 내용 바꿔줌
            function Change(){
            var key = level.value;
            if(key=="bronze"){
            document.all["level"].style.color="#ad5600";
            }
            if(key=="silver"){
            document.all["level"].style.color="#38546e";
            }
            if(key=="gold"){
            document.all["level"].style.color="#f9a518";
            }
            if(key=="platinum"){
            document.all["level"].style.color="#51fdbd";
            }
            if(key=="diamond"){
            document.all["level"].style.color="#41caff";
            }
            if(key=="ruby"){
            document.all["level"].style.color="#ff3071";
            }
    
        }
        </script>
</body>

</html>